@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --first-col-height: 0px;
}

.expense-item-enter {
    filter: blur(10px);
    opacity: 0;
}

.expense-item-enter-active {
    filter: blur(0);
    opacity: 1;
    transition: filter 400ms ease-out, opacity 400ms ease-out;
}

.expense-item-exit {
    filter: blur(0);
    opacity: 1;
}

.expense-item-exit-active {
    filter: blur(10px);
    opacity: 0;
    transition: filter 400ms ease-in, opacity 400ms ease-in;
}